* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: arial;
	text-align: center;
	color: #C5BF9E;
	background-color: #282823;
	background-image: url("images/misc/bg.png");
	text-shadow: 1px 1px #000000;
}

h1,
h2 {
	margin-top: 3em;
	margin-bottom: 1em;
}

p {
	margin-top: 1em;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: middle;
	pointer-events: none;
}

table {
	margin-top: 1em;
	width: 100%;

	border-collapse: collapse;
	font-size: 81.3%;
	border: 1px solid #C5BF9E;

	font-weight: bold;
}

table tr {
	background-color: #14140F;
}

table tr:nth-child(even) {
	background-color: #1E1E19;
}

table tr:hover,
.full-row-link a:hover {
	background-color: #3C6666;
}

table tr td a:hover {
	background-color: #4B8080;
}

table tr td img {
	margin-left: 1em;
	margin-right: 1em;
}

table tr td a {
	display: block;
}

.responsive-image {
	max-width: 100%;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 59em;
}

.major-panel,
.minor-panel {
	position: relative;
	margin: 0.5%;
	background-size: 100%;
}

.major-panel {
	width: 99%;
	margin-top: 0.6em;
}

.minor-panel {
	display: inline-block;
	width: 49%;
}

.panel-link {
	display: block;
	border: 1px solid;
	background-size: 100%;
	background-image: url("images/panels/base.png");
}

.panel-link:hover {
	background-image: url("images/panels/hover.png");
}

.major-panel .panel-name,
.major-panel .panel-timer {
	font-size: 2em;
}

.minor-panel .panel-name,
.minor-panel .panel-timer {
	font-size: 1.5em;
}

.panel-name,
.panel-icon,
.panel-timer {
	position: absolute;
}

.panel-name,
.panel-icon {
	top: 0.5em;
}

.panel-name,
.panel-timer {
	font-weight: bold;
	left: 0.5em;
}

.panel-icon {
	right: 0.5em;
	border: 1px solid;
	background-image: url("images/panels/iconbg.png");
}

.panel-timer {
	border: 1px solid black;
	background-color: rgba(20, 20, 15, 0.75);

	bottom: 0.5em;

	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.stormatronach        { background-image: url("images/panels/1.png"); }
.wildhunt             { background-image: url("images/panels/2.png"); }
.dwarven              { background-image: url("images/panels/4.png"); }
.reapersharvest       { background-image: url("images/panels/5.png"); }
.flameatronach        { background-image: url("images/panels/6.png"); }
.scalecaller          { background-image: url("images/panels/8.png"); }
.psijicvault          { background-image: url("images/panels/9.png"); }
.hollowjack           { background-image: url("images/panels/10.png"); }
.ouroboros            { background-image: url("images/panels/11.png"); }
.xanmeer              { background-image: url("images/panels/12.png"); }
.steedsbounty         { background-image: url("images/panels/14.png"); }
.crownclassics2       { background-image: url("images/panels/20.png"); }
.baandaripedlar       { background-image: url("images/panels/21.png"); }
.dragonscale          { background-image: url("images/panels/24.png"); }
.baandaripreview      { background-image: url("images/panels/26.png"); }
.newmoonpreview       { background-image: url("images/panels/27.png"); }
.newmoon              { background-image: url("images/panels/28.png"); }
.frostatronachpreview { background-image: url("images/panels/29.png"); }
.frostatronach        { background-image: url("images/panels/30.png"); }
.milestone            { background-image: url("images/panels/200.png"); }
.notfound             { background-image: url("images/panels/404.png"); }
.research             { background-image: url("images/panels/1000.png"); }
.shrine               { background-image: url("images/panels/1001.png"); }

.radiant    { color: #EA5C40; }
.apex       { color: #C16403; }
.legendary  { color: #EECA2A; }
.epic       { color: #A02EF7; }
.superior   { color: #3A92FF; }
.fine       { color: #2DC50E; }
.common     { color: #FFFFFF; }
.discontinued,
.error      { color: #C64343; }
.obtained .slot,
.highlight  { color: #78BEC3; }
.bonus .slot,
.bonus-card { color: #2DFFF8; }
.unobtained { color: #3C3C37; }

.row-header {
	text-align: left;
}

.stat {
	width: 54%;
}

.obtained,
.bonus,
.unobtained,
.discontinued {
	width: 9%;
}

.card-preview {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);

	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.card-preview:target {
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 1px solid;
	z-index: 2;
}

.card-preview img {
	max-width: 100%;
	max-height: 100%;
}

.card-preview-align {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#navbar {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	font-size: 1.125em;
	background: rgba(20, 20, 15, 0.8);
	border-top: 2px solid;
	border-bottom: 2px solid;
	z-index: 1;
}

#navbar a {
	display: inline-block;
	padding-right: 1em;
}

#navbar a img {
	margin-right: 0.5em;
}

#navbar ul {
	list-style-type: none;
}

#navbar ul,
#navbar ul li {
	display: inline-block;
}

#navbar ul li a {
	padding-left: 1em;
	padding-right: 1em;
}

#navbar a:hover {
	color: #FFFFFF;
}

#menu-button,
#menu-button-checkbox {
	display: none;
}

.text-link {
	color: #78BEC3;
	text-decoration: underline;
	white-space: nowrap;
}

#footer {
	background-color: #32322D;
	border: 1px solid;

	margin-top: 3em;
	margin-bottom: 3em;

	padding: 1em;
	padding-top: 0;
}

#footer p {
	font-size: 75%;
	text-align: center;
}

.major-container,
.minor-container {
	border: 1px solid;
	background-color: #1E1E19;
	padding: 1em;
}

.major-container {
	margin-top: 1em;
}

.major-container p {
	text-align: left;
}

.major-container a {
	display: inline-block;
}

.major-container img {
	max-width: 100%;
}

.major-heading {
	margin-top: 0;
}

.minor-container {
	width: 42%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.minor-container ul {
	list-style-position: inside;
	text-align: left;
}

.minor-container a {
	display: inline-block;
	margin-top: 1em;
}

.minor-container img {
	margin-bottom: 1em;
	pointer-events: auto;
	max-width: 100%;
}

.description {
	text-align: left;
}

@media screen and (max-width: 61em) {

	.wrapper {
		width: 35em;
	}

	.major-panel,
	.minor-panel {
		width: 100%;
		margin: 0;
		margin-top: 1em;
	}

	.minor-panel {
		display: block;
	}

	.major-panel .panel-name,
	.major-panel .panel-timer {
		font-size: 1.5em;
	}

	.row-header {
		display: block;
		text-align: center;
	}

	.obtained,
	.bonus,
	.unobtained,
	.discontinued {
		width: 16%;
	}

	.stat,
	.obtained,
	.bonus,
	.unobtained,
	.discontinued {
		display: inline-block;
	}

	table td,
	table td a {
		padding-bottom: 1em;
	}

	.full-row-link td {
		padding-bottom: 0em;
	}

	table tr td img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1em;
		padding-bottom: 0.5em;
	}

	.minor-container {
		width: 72%;
	}
}

@media screen and (max-width: 42em) {

	#menu-button {
		display: inline;
		float: right;
		cursor: pointer;
	}

	#navbar {
		text-align: left;
	}

	#navbar ul {
		display: none;
	}

	#navbar ul li a {
		line-height: initial;
		font-size: 14px;
		padding-right: 0;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	#menu-button-checkbox:checked + ul,
	#menu-button-checkbox:checked + ul li,
	#menu-button-checkbox:checked + ul li a {
		display: block;
	}
}

@media screen and (max-width: 37em) {

	.wrapper {
		width: 100%;
	}

	.major-panel .panel-name,
	.minor-panel .panel-name,
	.major-panel .panel-timer,
	.minor-panel .panel-timer {
		font-size: 4vw;
	}

	table {
		border: none;
	}

	table tr {
		display: block;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border: 1px solid;
	}

	table tr:nth-child(even) {
		background-color: #14140F;
	}

	/* restore nth hover */
	table tr:nth-child(even):hover {
		background-color: #3C6666;
	}

	table td {
		display: block;
		font-size: 3.5vw;
		padding-bottom: 0;
	}

	table td a {
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
	}

	.full-row-link {
		padding-bottom: 0;
	}

	.full-row-link a {
		margin-bottom: 0;
	}

	/* Make the row attributes take up the full "box" length */
	.stat,
	.obtained,
	.bonus,
	.unobtained,
	.discontinued {
		width: 100%;
	}

	.no-card {
		padding-bottom: 3%;
	}

	.obtained,
	.bonus,
	.unobtained {
		text-align: left;
		padding-left: 25%;
	}

	.drop-table .obtained,
	.drop-table .bonus,
	.drop-table .unobtained {
		padding-left: 30%;
	}

	/* Make the slot and chance divs appear one after the other */
	.slot,
	.chance {
		display: inline;
	}

	.slot::after {
		content: " \2012";
	}

	.chance {
		margin-left: 1%;
	}

	.minor-container {
		width: 100%;
	}
}